# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE

.vscode/
.idea/

# Operating System

.DS_Store
Thumbs.db


# Testing & Temporary Files

test.py
tests/__pycache__/
.pytest_cache/

# Streamlit

.streamlit/secrets.toml

# Vector Database

data/chroma/

# Logs

*.log